@charset "UTF-8";

:root {
  /* color */
  --color-black: #2b2b2b;
  --color-green: #2e4a34;
  --color-orange: #c46b45;
  --color-bg: #f9f8f4;

  /* space */
  --s-xs: 8px;
  --s-s: 13px;
  --s-md: 21px;
  --s-lg: 34px;
  --s-xl: 55px;
  --s-2xl: 89px;
  --s-3xl: 144px;
}

/* 共通
-------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: var(--color-black);
  line-height: 1;
}

img {
  max-width: 100%;
}

/* レイアウト
-------------------------------- */
.wrapper {
  /* コンテンツ幅が1000px未満のときの設定 */
  width: 92%;
  /* コンテンツの最大幅 */
  max-width: 1000px;
  margin: 0 auto;
}

/* 見出し
-------------------------------- */
.section-title {
  font-size: 32px;
  font-weight: bold;
  /* 文字間隔10%を反映 */
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
  /* アルファベットをすべて大文字で表示 */
  text-transform: uppercase;
  margin-bottom: var(--s-xl);
}

/* button
-------------------------------- */
.btn {
  display: inline-block;
  background-color: var(--color-orange);
  padding: var(--s-s) var(--s-md);
  color: var(--color-bg);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 0.1em;
}


/* ヘッダー
-------------------------------- */
header {
  background-color: var(--color-green);
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-md);
  padding: var(--s-md) 0;
}

nav ul {
  display: flex;
  gap: var(--s-lg);
}

nav ul li a {
  font-size: 16px;
  color: #ffffff;
}

.logo {
  width: 41%;
  max-width: 380px;
  line-height: 1.3;
}

.logo img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* メインビジュアル */
.mv {
  background-image: url(../img/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* 全幅表示 */
  width: 100%;
  /* 高さ固定 */
  height: 600px;
}

.mv-inner {
  height: 100%;
  /* キャッチコピーとボタン全体のレイアウト */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--s-lg);
}

.catchcopy {
  color: var(--color-bg);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  /* キャッチコピーのレイアウト */
  display: flex;
  flex-direction: column;
  gap: var(--s-s);
}

.catchcopy-en {
  font-size: 36px;
}

.catchcopy-ja {
  font-size: 24px;
}

/* section共通
-------------------------------- */
section {
  padding: var(--s-2xl) 0;
}

section:first-of-type {
  padding: var(--s-3xl) 0 var(--s-2xl);
}

section:last-of-type {
  padding: var(--s-2xl) 0 var(--s-3xl);
}


/* About
-------------------------------- */
.about-text {
  /* 最大幅を指定して読みやすい横幅に制御 */
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.8;
}

/* Products
-------------------------------- */
.products {
  padding: var(--s-2xl) 0;
}

.cat-list {
  /* PC版でGridにするのでSP版で先に設定しておく */
  display: grid;
  /* 1列の指定 */
  grid-template-columns: 1fr;
  row-gap: var(--s-lg);
}

.cat-item {
  text-align: center;
}

.cat-item a {
  display: block;
  height: 100%;
  width: 100%;
}

.cat-item a p {
  padding: var(--s-s) 0;
  font-size: 20px;
  font-weight: bold;
}

.cat-item-img {
  /* 要素の縦横比を指定するプロパティ */
  aspect-ratio: 4 / 3;
}

.cat-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Access
-------------------------------- */
.access {
  padding: var(--s-2xl) 0 var(--s-3xl);
}

.access-map {
  height: 250px;
  margin-bottom: var(--s-xl);
}

.access-map iframe {
  width: 100%;
  height: 100%;
}

.access-shop-name {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: var(--s-lg);
}

.access-info {
  line-height: 1.8;
}

.access-info-item {
  /* dtとddを横並びにするためのdiv */
  display: flex;
  gap: 16px;
}

.access-info-item+.access-info-item {
  margin-top: var(--s-md);
}


.access-info-item dt {
  flex-basis: 73.75px;
  /* flex-shrinkを0にしてアイテムサイズを固定 */
  flex-shrink: 0;
}

.access-info-item dd {
  flex-grow: 1;
}

/* footer
-------------------------------- */
footer {
  background-color: var(--color-green);
  text-align: center;
  padding: var(--s-md) 0;
}

footer .copyright {
  color: var(--color-bg);
  font-size: 16px;
}

/* デスクトップ版
-------------------------------- */
@media screen and (min-width:768px) {
  body {
    font-size: 18px;
  }

  .header-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    line-height: 3.6;
  }

  nav ul li a {
    font-size: 20px;
  }

  .mv {
    background-position: center 70%;
  }

  .catchcopy {
    gap: var(--s-lg);
  }

  .catchcopy-en {
    font-size: 64px;
  }

  .catchcopy-ja {
    font-size: 36px;
  }

  .btn {
    font-size: 20px;
    padding: var(--s-md) var(--s-lg);
  }

  .section-title {
    font-size: 40px;
  }

  .cat-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: var(--s-lg);
  }
}